// Body
$body-bg: #f8fafc;

// Typography
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Brand colors
$primary-color: #0f1634;
$secondary-color: #46b039;

// Input colors
$input-1:#d4dce9;
$input-3: #2e384d;
$input-val: #8795a1;

// Text Colors
$text-black: #354052;
$text-light-color: #d2dbe7;

// Colors
$darkgrey: #74798c;
$lemon: #ddd859;
$red: #ff0000;
$grey: #f4f6fc;
$gray: #b1bac9;
$blue: #3e80c9;
$light-blue: #5c6691;
$gray-1: #7f8fa4;
$gray-2: #a5b0c0;
$gray-3: #7a818c;
$gray-4: #dbe1f1;
$black-26: #262626;
$black-20: #202020;
$black-1: #4c5167;
$black-ae: #aeaeae;
$alert: #ed1c24;
$success: #1bb934;
$bgrey: #cdd0dc;

// BORDER COLOR
$border-color: #d9deed;
$border-color-1: #e2e7ee;


$border: 1px solid #cdd0dc;